.button {
  cursor: pointer;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  box-shadow: 1px 1px 2px #cecece;
  transition: all 0.2s ease;
  outline: none;
  color: white;
  background: #00b8e0;
  text-transform: uppercase;
  font-size: 1.2rem;

  &:hover {
    background: #028bc6;
  }

  &:active {
    transform: translateY(1px);
    box-shadow: 0.5px 0.5px 1px #cecece;
  }
}

.button_remove {
  color: white;
  background: transparent;
  font-size: 1.8rem;
  padding: 0;
  box-shadow: none;

  &:active {
    box-shadow: none;
  }

  &:hover {
    background: transparent;
    color: black;
  }
}
