.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  min-width: 25rem;
  height: 32.5rem;
  border-radius: 1rem;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.25) 45.94%,
      rgba(255, 255, 255, 0.25) 156.06%
    ),
    linear-gradient(
      180deg,
      #028bc6 3.33%,
      #00b8e0 39.82%,
      rgba(0, 255, 224, 0.49) 142.53%
    );
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.35);

  &__button {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
  }

  &__text {
    font-size: 7.6rem;
    font-weight: 700;
    color: white;
  }
}
